:root {
  --color-red: #FF0000;
  --color-grey: #80858B;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  gap: 1.5rem;
  min-width: 100%;
  height: 100vh;
  align-items: start;
  justify-items: center;
}

.emptyState {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyImage {
  max-width: 250px;
  margin-bottom: 16px;
}

.emptyText {
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-grey);
}