:root {
  --color-red: #FF0000;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  gap: 1.5rem;
  min-height: 300px;
  align-items: start;
}

.empty {
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-red);
}