:root {
  --color-red: #FF0000;
  --color--pagination: #7B61FF;
  --color--pagination-hover: #6e57e2;
  --color--pagination-active: #5c48c0;
  --color-white: #ffffff;

}

.container {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  gap: 1.5rem;
  min-height: 300px;
  align-items: start;
  margin-bottom: 2rem;
}

.empty {
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-red);
}

.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.paginationList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.paginationItem {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color--pagination);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.paginationItem:hover {
  background-color: var(--color--pagination-hover);
}

.paginationItem.active {
  background-color: var(--color--pagination-active);
  font-weight: bold;
}

.pageLink {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--color-white);
  text-decoration: none;
}

.pageLink.active {
  background-color: var(--color--pagination-active);
  font-weight: bold;
}