.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 2rem;
}