.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;

  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.img {
  width: 1.125rem;
  height: 1.125rem;
}